/***** POLICES *****/

html{
    
    font-family: 'Montserrat', sans-serif;
}

:root{
    
    --black: #000000;
    --white: #ffffff;
    --midnightBlue: 03045E;
    --darkCornFlowerBlue: 023E8A;
    --starCommandBlue: 0077B6;
    --blueGreen: 0096C7;
    --pacificBlue: 00B4D8;
    --skyBlueCrayola: 48CAE4;
    --middleBlue: 90E0EF;
    --blizzardBlue: ADE8F4;
    --lightCyan: CAF0F8;
}