/***** POLICES *****/
html {
  font-family: "Montserrat", sans-serif;
}

:root {
  --black: #000000;
  --white: #ffffff;
  --midnightBlue: 03045E;
  --darkCornFlowerBlue: 023E8A;
  --starCommandBlue: 0077B6;
  --blueGreen: 0096C7;
  --pacificBlue: 00B4D8;
  --skyBlueCrayola: 48CAE4;
  --middleBlue: 90E0EF;
  --blizzardBlue: ADE8F4;
  --lightCyan: CAF0F8;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  overflow-x: hidden;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#login-signup-page > main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#login-signup-page > main > section > h2 {
  font-size: 3rem;
  font-weight: bold;
}
#login-signup-page > main > section > form > fieldset {
  margin: 2vh 2vw;
}

#admin-users {
  display: grid;
  grid-template-rows: 0.1fr 0.9fr;
  width: 100vw;
  height: 100vh;
}
#admin-users > header {
  display: grid;
  grid-template-columns: 0.25fr 0.75fr;
}
#admin-users > header > section {
  display: grid;
  grid-template-columns: 0.2fr 0.2fr 0.6fr;
  padding: 0.5rem;
  border-right: none;
  border-bottom: 1px solid black;
}
#admin-users > header > section > button {
  font-size: 3rem;
  background: none;
  border: none;
  cursor: pointer;
}
#admin-users > header > section > figure {
  grid-column: 3/4;
}
#admin-users > header > nav {
  border-bottom: 1px solid var(--black);
}
#admin-users > main {
  display: grid;
  grid-template-columns: 0.25fr 0.75fr;
}
#admin-users > main > aside {
  border-right: 1px solid var(--black);
  padding: 5rem 1rem;
}
#admin-users > main > aside > nav > h2 {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  margin: 1rem 0;
  cursor: pointer;
}
#admin-users > main > aside > nav > ul {
  display: grid;
  grid-template-columns: 1fr;
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: uppercase;
}
#admin-users > main > aside > nav > ul > li {
  margin: 0.5rem 0;
}
#admin-users > main > aside > nav > ul > li > a {
  color: var(--black);
  text-decoration: none;
}
#admin-users > main > aside > nav > ul > li > a:hover {
  text-decoration: underline;
}
#admin-users > main > section {
  grid-column: 2/3;
  padding: 2rem;
}
#admin-users > main > section > h2 {
  font-size: 2rem;
  text-transform: uppercase;
  color: #0077b6;
  font-weight: 700;
  margin-bottom: 4rem;
}
#admin-users > main > section > section:first-of-type > #add-btn {
  background-color: #023E8A;
  color: white;
  padding: 0.7rem 1.2rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 0.2rem;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
#admin-users > main > section > section#users-data > table {
  margin-top: 4rem;
  width: 100%;
}
#admin-users > main > section > section#users-data > table > thead > tr {
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 4rem;
  text-align: left;
}
#admin-users > main > section > section#users-data > table > tbody > tr {
  font-size: 1.2rem;
  line-height: 2.5rem;
}
#admin-users > main > section > section#users-data > table > tbody > tr:not(:last-of-type) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
#admin-users > main > section > section#users-data > table > tbody > tr > td:nth-of-type(4) {
  font-size: 1.5rem;
}
#admin-users > main > section > section#users-data > table > tbody > tr > td:last-of-type {
  font-size: 1.4rem;
}
#admin-users > main > section > section#users-data > table > tbody > tr > td:last-of-type > a:last-of-type {
  color: var(--darkCornFlowerBlue);
}
#admin-users > main > section > section#users-data > table > tbody > tr > td:last-of-type > a > span.bi-eye::before {
  content: "\f341";
}
#admin-users > main > section > section#users-data > table > tbody > tr > td:last-of-type > a > span.bi-pen::before {
  content: "\f4c8";
}
#admin-users > main > section > section#users-data > table > tbody > tr > td:last-of-type > button {
  background: none;
  color: #b50604;
  border: none;
  font-size: 1.5rem;
}
#admin-users > main > section#delete-modal {
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}
#admin-users > main > section#delete-modal.d-none {
  display: none;
}
#admin-users > main > section#delete-modal > #confirm-delete {
  height: 30%;
  width: 50%;
  background-color: white;
  border-radius: 0.2rem;
  padding: 2rem 1rem;
  border: 2px solid #b50604;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}
#admin-users > main > section#delete-modal > #confirm-delete > h3 {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
#admin-users > main > section#delete-modal > #confirm-delete > h4 {
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: 4rem;
}
#admin-users > main > section#delete-modal > #confirm-delete > #modal-btns {
  display: flex;
  align-items: center;
  justify-content: center;
}
#admin-users > main > section#delete-modal > #confirm-delete > #modal-btns > button {
  font-size: 1.3rem;
  padding: 1rem 2rem;
  margin: 0 0.5rem;
}
#admin-users > main > section#delete-modal > #confirm-delete > #modal-btns > button#modal-cancel-btn {
  background-color: transparent;
  color: black;
  border: 2px solid black;
  border-radius: 0.3rem;
}
#admin-users > main > section#delete-modal > #confirm-delete > #modal-btns > button#modal-delete-btn {
  background-color: #b50604;
  color: white;
  border: 2px solid #b50604;
  border-radius: 0.3rem;
}

.d-none {
  display: none;
}

.open {
  border-right: 1px solid black;
  border-bottom: none;
}

/*# sourceMappingURL=style.css.map */
